@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f4f4f5; /* zinc-100 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*::selection {
  background-color: #f4f4f5;
  color: #0a0a0a;
}

*::-moz-selection {
  background-color: #f4f4f5;
  color: #0a0a0a;
}

*::-o-selection {
  background-color: #f4f4f5;
  color: #0a0a0a;
}

*::-ms-selection {
  background-color: #f4f4f5;
  color: #0a0a0a;
}

*::-webkit-selection {
  background-color: #f4f4f5;
  color: #0a0a0a;
}

.smooth-height {
  transition: min-height 0.3s ease-in-out;
}
