/* NEED TO FIND A COOL FONT */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

body {
    margin: 0;
    background-color: #121212;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background-color: #f1f1f1;
    color: #121212;
}

*::-moz-selection {
    background-color: #f1f1f1;
    color: #121212;
}

*::-o-selection {
    background-color: #f1f1f1;
    color: #121212;
}

*::-ms-selection {
    background-color: #f1f1f1;
    color: #121212;
}

*::-webkit-selection {
    background-color: #f1f1f1;
    color: #121212;
}