.project {
    /* width: 100%; */
    display: flex;
    flex-grow: 1;
    padding: 50px;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
    font-weight: 300;
    border-top: thin solid #545454;
    transition: all 0.2s ease-out;
}

.projectContent {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    height: auto;
    transition: all 0.2s ease-out;
}

.projectContent h2 {
    font-size: max(4vw, 42px);
    font-weight: 400;
    margin-top: 0;
}

.projectContent p {
    color: #a3a3a3;
    font-weight: 400;
    line-height: 2em;
    width: 100%;
    display: flex;
}

.projectCategory {
    height: auto;
    width: 20%;
    line-height: 2em;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.2s ease-out;
}

.project:hover .projectContent {
    transform: translateX(-10px);
}

.project:hover .projectCategory {
    transform: translateX(10px);
}

.projectImage {
    display: none;
    padding: 5vw;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1vw;
}

.projectImage img {
    width: 100%;
    height: auto;
    border-radius: 0.65vw;
}

.projectImage .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);  /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;  /* Initially hidden */
    transition: opacity 0.3s;  /* Smooth transition */
    color: #fff;
    cursor: pointer;
}

.projectImage:hover .overlay {
    opacity: 1;  /* Show on hover */
}

.projectImage .overlay span {
    background-color: #4F46E5;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .project {
        padding: 50px 16px;
        flex-direction: column;
    }

    .project:hover {
        opacity: 1;
    }
    
    .project:hover .projectContent {
        transform: none;
    }
    
    .project:hover .projectCategory {
        transform: none;
    }

    .projectCategory {
        width: auto;
    }

    .projectImage {
        display: block;
    }
}