.intro {
    height: 140vh;
}

.introContainer {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introContainer h1 {
    z-index: 3;
    color: #fff;
    font-size: max(7vw, 48px);
    margin-top: 4rem;
    margin-bottom: 0;
}

.introContainer h2 {
    z-index: 3;
    color: #fff;
    font-size: max(2vw, 18px);
    font-weight: 300;
    margin-bottom: 7vw;
    text-transform: uppercase;
}

.introContainer .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    z-index: 3;
}

.introContainer .socials a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: max(2vw, 1.5rem);
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
}

.introContainer div a::after {
    content: '';
    display: block;
    margin: 5px auto 0;
    height: 2px;
    width: 0px;
    background-color: #fff;
    transition: width .25s ease-out;
}

.introContainer div a:hover:after {
    width: 100%;
}