.backgroundImage {
    width: 100%;
    height: 140vh;
    position: absolute;
    top: 0;
    filter: brightness(90%);
}

.backgroundImage img {
    object-fit: cover;
}

.introContainer {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introContainer h1 {
    z-index: 3;
    color: #fff;
    font-size: 7vw;
    text-transform: uppercase;
}

.introContainer .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    z-index: 3;
}

.introContainer .socials a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.75rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    padding: 0.5rem;
}

.introContainer div a::after {
    content: '';
    display: block;
    margin: 5px auto 0;
    height: 2px;
    width: 0px;
    background-color: #fff;
    transition: width .25s ease-out;
}

.introContainer div a:hover:after {
    width: 100%;
}