.intro {
    height: 110vh;
}

.introContainer {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .intro {
        height: 95vh;
    }
    /* .introContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .introContainer .socials {
        margin-bottom: 8vw;
    } */

    .introHeaders {
        padding-top: 20vh;
    }

    .introContainer .socials {
        position: -webkit-sticky;
        position: sticky;
        top: 50px;
        margin-top: 2rem;
    }
}

.introHeaders {
    text-align: center;
    padding-top: 12vh;
}

.introHeaders .profileImage {
    border-radius: 50%;
    margin-top: 4rem;
    margin-bottom: 0;
    width: max(8vw, 80px);
    height: max(8vw, 80px);
}

.introHeaders h1 {
    z-index: 3;
    color: #fff;
    font-size: max(7vw, 48px);
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 500;
}

.introHeaders h2 {
    z-index: 3;
    color: #fff;
    font-size: max(2vw, 18px);
    font-weight: 300;
    margin-bottom: 7vw;
    text-transform: uppercase;
}

.introContainer .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    z-index: 3;
}

.introContainer .socials a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: max(2vw, 1.5rem);
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
}

.introContainer div a::after {
    content: '';
    display: block;
    margin: 5px auto 0;
    height: 2px;
    width: 0px;
    background-color: #fff;
    transition: width .25s ease-out;
    border-radius: 30px;
}

.introContainer div a:hover:after {
    width: 100%;
}