.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
}

.projectsBody {
    max-width: 1000px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projectsBody:hover > :not(:hover){
    opacity: 0.4;
}

@media screen and (max-width: 767px) {
    .projectsBody:hover > :not(:hover){
        opacity: 1;
    }
}