.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
}

.projectsBody {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}