.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    position: relative;
}

.projectsBody {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .projectsBody {
        width: 100%;
        padding: 0 1rem;
    }
}