.modalContainer {
    height: 350px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 5;
    overflow: hidden;
    pointer-events: none;
    transform-origin: center;
}

.modalSlider {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .modal {
        display: none;
    }
}

.modal img {
    height: auto;
}

/* .cursor,
.cursorLabel {
    width: 80px;
    height: 80px;
    background-color: #4F46E5;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.cursorLabel {
    background-color: transparent;
} */